.container {
  background-color: mistyrose;
  align-items: center;
  text-align: center;
  border-radius: 20%;
  border-color: black;
  border-style: solid;
  border-color: coral;
  justify-content: center;
  text-justify: center;
 
}
.outcover {
  display: flex;
  background-color: rgb(127, 255, 193);
  gap: 10px;
  flex-flow: row wrap;
}
h1 {
  background-color: darkgreen;
  text-align: center;
}
